body {
    /* width: 70%; */
    background-color: gainsboro; 
    background-size: auto, cover;
    background-image:url('images/intersection.png');
    
}
header {
    font-size: 30px;
    border-bottom: 3px solid gray;
    background-color: white;
    position: relative;
    width:100%;
}
.header-name {
    color:white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    display: inline;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px; 
    
    
}
.header-name:hover {
    font-family: Pacifico, cursive;
}
.main-body { 
    margin: 0 15%; 
}
a {
    color: gray;
    display: inline;
    float:right;
    text-decoration: none;
    font-size: 24px;
    padding-bottom: 13px;
}
#aAbout{
    padding-right:15px;
}
.Aboutme {
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5; 
    border-bottom: 5px black;
    padding: 20px 0px 0px 1px;
    background-color: white; 
    margin-top: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    width: 500px;
}
.main-content {
    background-color: ivory;
    margin-bottom: 15px;
}
img {
    float: left;
    margin-right: 15px;
    padding-bottom: 10px;
    padding-right: 10px; 
    width: 380px; 
    height: 300px;
}
.img-p {
    float: none;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left;
    text-indent: 30px; 
    line-height: 1.2;
    padding: 8px; 
    min-height: 284px; 
}

footer {
    position: fixed;
    width:100%;
    bottom: 0;
    background-color: ivory; 
    border-top: solid 5px teal; 
    text-align: center; 
    padding: 15px; 
    
}

input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical;
    }
    
    
 input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    
   
 .container2 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
}

@media (max-width: 980px) 
{
    body {
        width: auto; 
    }
    .main-body {
        margin: 0 32% 0 15%;
    }
    img {
        width: 180px; 
        height: 140px; 
    }
    a, header, .Aboutme {
        font-size: inherit; 
    }
    .img-p {
        min-height: inherit;
    }
    .links {
        background-color: white; 
        position: static;
        display: inline;
        padding-left: 30%;
        width: 75%; 
        text-align: center;

    }
    .container2 {
        width: 90%;
        margin: 5px; 
    }

}

@media (max-width: 760px) 
{
    body {
        width: auto;
    }
    .main-body {
        margin: 0 3%;
    }
    img {
        width: 40%; 
        height: 33%;
        padding: 0;
    }
    .img-p {
        height: 33%;

    }
        .links {
            background-color: white; 
            position: static;
            display: inline;
            padding-left: 30%;
            width: 75%; 
            text-align: center;
    
    }

    .container2 {
        width: 90%;
        margin: 5px; 
    }
}

@media (max-width: 640px) 
{
    header {
        margin: 0;
    }
    .header-name {
        width: 100%;
        display: inherit;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    a {

    }
    body {
        width: auto;
    }
    .main-body {
        margin: 0 3%;
    }
    img {
        width: 94%; 
        height: 33%;
        padding: 3%;
    }
    .img-p {
        /* height: 33%; */
        padding: 2%;
        
    }

    .links {
        background-color: white; 
        position: static;
        display: inline;
        padding-left: 30%;
        width: 75%; 
        text-align: center;
    }

    .container2 {
        width: 90%;
        margin: 5px; 
    }
}
